<%- include('partials/teacher-main-header') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add a Topic</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

      <form action="/Teacher/add-topic/" method="post" style="width: 40%;">
        <div class="form-group">
            <label for="">topic title</label>
            <input type="text" name="topic" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="">description</label>
          <input name="description" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="">topic file</label>
          <input type="file" name="file" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</main>

<%- include('partials/main-footer') %>
