<%- include('partials/teacher-main-header') %>

<img src="<%= qrdata %>" alt="" style="width: 40%; height: 40%;">
<a href="/teacher/HomePage/"><button class="btn-primary">return</button></a>

<%- include('partials/main-footer') %>
