<%- include('partials/student-main-header') %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Home Page</h1>
    </div>
    <% courses.forEach(course => { %>
        <div class="card" style="margin: 10px;">
            <a href="/student/course/<%=course.id%>" style="text-decoration: initial;">
                <div class="card-body">
                    <h4>
                    <%= course.course_name %> 
                    </h4>
                    <h6>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit
                    </h6>
                </div>
            </a>
        </div>
    <% }) %>
</main>
<%- include('partials/main-footer') %>

